# Ignore configuration files
src/config/config.yaml

# Ignore the SQLite database file
src/database/expenses.db

# Ignore Python cache files and bytecode
__pycache__/
*.py[cod]

# Ignore environment files and virtual environments
.env
venv/

# Ignore logs
*.log

# Ignore IDE-specific settings (e.g., for VS Code and other IDEs)
.vscode/
.idea/
